<script setup>
import { watch } from "vue";
import { useI18n } from "vue-i18n";

const { locale } = useI18n();

watch(locale, () => {
  const page = document.querySelector("html");
  page.dir = "rtl";
  page.lang = locale;
});
</script>

<template>
  <header class="container header">Wikifunctions</header>
  <main class="container">
    <div class="hero">
      <div>
        <h1>{{ $t("message.slogan") }}</h1>
        <div>
          <p>Using a phone.</p>
          <p>Baking a cake.</p>
          <p>Using an ATM machine.</p>
          <p>You rely on functions like these <b class="blue">every day</b>.</p>
        </div>
      </div>
      <img
        src="/images/function_machine.png"
        alt="Illustration of function
        input and output"
      />
    </div>
    <section>
      <h2>What is a Function?</h2>
      <p>
        The purpose of a function is to get <b class="blue">input</b>, process
        that <b class="blue">input</b> and return an <b class="red">output</b>.
        Functions are helpful because they are reusable like recipes.
      </p>
    </section>

    <section>
      <h2>How it works?</h2>
      <p>
        Imagine you wanted to bake a cake, but you had to remember the list of
        steps, ingredients, and measurements each time. The easier option would
        be to follow a recipe each time you wanted to bake a cake.
      </p>
      <div class="img-container">
        <img
          class="cake-images"
          src="/images/ingredients.png"
          alt="Ingredients for cake"
        />
        <img class="cake-images" src="/images/Recipe.png" alt="Cake in oven" />
        <img
          class="cake-images"
          src="/images/cake.png"
          alt="Cake with frosting"
        />
      </div>
    </section>

    <section>
      <h2>Why should we care about functions?</h2>
      <div>
        Functions are reusable and save us time in the day. As you saw with the
        cake example, the recipe makes the process of baking a cake go by much
        faster and frees up our day to focus on other tasks.
        <p>
          A collection of functions is like a recipe book where we can rely on
          these premade recipes to make multiple dishes.
        </p>

        <p>
          Wikimedia has created Wikifunctions: a collection of functions that
          can make our lives easier.
        </p>
      </div>
    </section>

    <section>
      <h2>Explore real world functions with interactive examples</h2>
      <!--Monthly salary and Temperature converter would go here-->
      <div></div>
    </section>
  </main>
  <footer>
    2022 &copy;
    <a
      href="https://www.wikimedia.org/"
      target="_blank"
      rel="noopener noreferrer"
      >Wikimedia</a
    >
  </footer>
</template>

<style>
* {
  box-sizing: border-box;
}

/*Colors from wiki functions logo*/
:root {
  --blue: #086597;
  --crimson-red: #950607;
  --dark-green: #35915a;
  --light-grey: #f3f3f3;
  --grey: #666;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgba(60, 60, 60, 0.7);
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-green);
}

img {
  object-fit: contain;
  width: 100%;
}

.container {
  width: 100%;
  margin: 1rem auto;
}

.header {
  font-size: 1.5rem;
}

.hero {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 1rem;
}

.hero h1 {
  color: var(--dark-green);
  line-height: 70px;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

section {
  margin: 4rem 1.2rem;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cake-images {
  width: 300px;
  height: 300px;
}

footer {
  background-color: var(--light-grey);
  color: var(--grey);
  text-align: center;
  padding: 2rem 0;
  margin-top: 4rem;
}

footer a {
  color: inherit;
}

.blue {
  color: var(--blue);
}

.red {
  color: var(--crimson-red);
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .img-container {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .hero {
    flex-direction: row;
  }
}
</style>
